header {
  min-height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #eee;
}

header .logo {
  margin-left: 1rem;
}

header form {
  flex: 1;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header form input,
header form button {
  border: none;
  background-color: white;
}

header form input,
header form button:focus {
  outline: none;
}

header form input {
  flex: 1;
  height: 30px;
  border-radius: 1rem 0 0 1rem;
  padding: 0 0 0 1rem;
}

header form button {
  padding-left: 5px;
  height: 30px;
  width: 40px;
  border-radius: 0 1rem 1rem 0;
}
header .logo {
  width: 40px;
}

header .logo img {
  width: 100%;
}

header form img {
  width: 70%;
  height: 100%;
}

header form input,
header form button {
  border: none;
}
